// ===================================================|
// Atoms: DOT BUTTON

// -------------------------| Variables
$size: 28px;
$radius: map-get($swatch-border-radiuses, 'circle');

// -------------------------| Root
.root {
  display: flex;
  align-items: center;
  justify-content: center;
  border: map-get($roles-borders-wrappers, 'dot-button');

  svg {
    @include dimensions-square(rem($size/2));

    fill: currentColor;
  }
}

// -------------------------| Display
.circle {
  @include dimensions-square(rem($size));

  border-radius: $radius;
}

.block {
  width: 100%;
  height: rem($size);
  border-radius: map-get($roles-borders-radiuses, 'tag');
  background-color: rgba(map-get($roles-col-links, 'link'), 0.08);
}

// -------------------------| Colors
.blue {
  @include link-styles-generator();
}

.red {
  @include button-links-styles();
}
