// ===================================================|
// Sections: STYLES

// -------------------------| Root
.root {
  @include mq-device-holding-type('inpocket') {
    text-align: center;
  }
}

// -------------------------| Item
.item {
  padding: rem(13px) 0;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }

  + .item {
    border-top: map-get($roles-borders-dividers, 'gray');
  }
}

// -------------------------| See all
.all {
  display: block;
  padding-top: rem(13px);
  text-align: center;
  user-select: none;
  border-top: map-get($roles-borders-dividers, 'gray');

  i {
    display: none;
    color: map-get($roles-col-texts, 'meta');
  }

  a {
    display: inline-flex;

    span {
      @include dimensions-square(100%);

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

// -------------------------| Print styles
@media print {
  .item {
    &:last-of-type {
      padding-bottom: 0;
    }
  }

  .all {
    padding-top: 0;
    border-top: 0;

    i {
      @include padding-v(rem(4px));

      position: relative;
      display: block;
      margin-top: rem(13px * 2);
      background: map-get($swatch-colors-mono, 'pale');
      border-radius: rem(13px);

      &::before {
        content: ' ';
        position: absolute;
        top: rem(-13px);
        display: block;
        width: 100%;
        border-top: map-get($roles-borders-dividers, 'gray');
      }
    }

    a {
      display: none;
    }
  }
}
