<Section :class="$style.root" :heading="content.name" :tooltip="titleTooltip">
  <template v-if="items.initial && items.rest">
    <div :class="$style.item" v-for="item in items.initial">
      <component :is="component" :data="item" />
    </div>
    <div v-if="visibleRest" :class="$style.item" v-for="item in items.rest">
      <component :is="component" :data="item" />
    </div>
    <div :class="$style.more" v-if="!visibleRest && items.rest.length > 0">
      <CircleButton @click="showRestItems">
        <span v-tooltip.top="{ content: moreTooltip }">+{{ items.rest.length }}</span>
      </CircleButton>
      <i v-if="moreTooltip">{{ moreTooltip }}</i>
    </div>
  </template>
  <div v-else :class="$style.item" v-for="item in items">
    <component :is="component" :data="item" />
  </div>
</Section>
