<Section :class="$style.root" :heading="content.name" :tooltip="titleTooltip">
  <template v-if="items.featured && items.regular">
    <div :class="$style.item" v-for="item in items.featured">
      <component :is="component" :data="item" />
    </div>
    <div :class="$style.all" v-if="items.regular.length > 0">
      <DotButton @click="showAllItems" display="block">
        <span v-if="seeAllText">{{ seeAllText }}</span>
        <span v-else>{{ $t('seeAll') }}</span>
      </DotButton>
    </div>
  </template>
  <div v-else :class="$style.item" v-for="item in items">
    <component :is="component" :data="item" />
  </div>
</Section>
