<div :class="[$style.root, {[$style.document]: data.document, [$style.nfo]: data.tooltip, }]">
  <div v-if="data.tooltip" :class="$style.relBox">
    <v-popover :class="$style.info" offset="5" placement="bottom" trigger="hover">
      <span>i</span>
      <div slot="popover" v-html="data.tooltip" />
    </v-popover>
  </div>
  <div v-if="data.document" :class="$style.relBox">
    <span :class="$style.file">
      <DotButton color="red" :link="data.document.fields.file.url" :tooltip="$t('openTheAttachedDocument', [data.document.fields.description])">
        <FileSVG />
      </DotButton>
    </span>
  </div>
  <Heading :size="3" type="item" :class="$style.heading">
    <component
      :is="headingWrapper(data.titleUrl)"
      :href="data.titleUrl"
      :target="data.titleUrl && (data.titleUrl.indexOf('//') !== -1 ? '_blank' : null)"
    >
      <span>{{ data.title }}</span>
    </component>
  </Heading>
  <Heading :size="4" type="info">
    <component
      :is="headingWrapper(data.subtitleUrl)"
      :href="data.subtitleUrl"
      :target="data.subtitleUrl && (data.subtitleUrl.indexOf('//') !== -1 ? '_blank' : null)"
    >
      {{ data.subtitle }}
    </component>
  </Heading>
  <MetaGroup :items="data.details" />
  <div v-if="data.text" :class="$style.details">
    <Paragraph>
      <p v-for="(text, i) in data.text" :key="i">
        {{ text }}
      </p>
    </Paragraph>
  </div>
</div>
