// ===================================================|
// Molecules: ITEM

// -------------------------| Variables
$offset: rem(($roles-size-doc-icon * 1.8) + 5);

// -------------------------| Root
.root {
  &.document,
  &.nfo {
    .heading {
      padding-right: $offset;

      @include mq-device-holding-type('inpocket') {
        @include padding-h($offset);
      }
    }
  }

  &.document {
    .heading {
      @include mq-device-holding-type('inpocket') {
        @include padding-h($offset);
      }
    }
  }

  &.nfo {
    .heading {
      @include mq-device-holding-type('inpocket') {
        @include padding-h(0);
      }
    }
  }
}

// -------------------------| File
.file {
  position: absolute;
  right: 0;
  transform: translateY(rem(-2px));

  @media print {
    display: none;
  }
}

// -------------------------| Details
.details {
  margin-top: rem(6.5px);
  font-size: map-get($roles-typo-font-sizes, 'details');
}

// -------------------------| Relative box
.rel-box {
  position: relative;
  width: 100%;
  height: 0;
}

// -------------------------| Info
.info {
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: all map-get($roles-transitions, 'icons') ease-in-out;
  transform: translateY(-50%) scale(0);

  @include mq-device-holding-type('outpocket') {
    position: absolute;
    top: rem(-20px);
    right: 0;
    bottom: 0;
    z-index: 1;
    display: block;
    width: 25px;

    :global(.v--modal-overlay) .root & {
      display: block;
      top: rem(2px);
      visibility: visible;
      opacity: 1;
      transform: translateY(0) scale(1);
    }

    @media (hover: hover) {
      &:global(.open),
      .root:hover & {
        top: rem(2px);
        visibility: visible;
        opacity: 1;
        transform: translateY(0) scale(1);
      }

      &:hover,
      &:global(.open) {
        span {
          transform: scale(1.1);
          box-shadow: rem(1px) rem(1px) rem(4px) map-get($swatch-colors-mono, 'dusty-gray');
        }
      }
    }

    span {
      @include dimensions-square(rem(20px));

      display: inline-flex;
      align-items: center;
      justify-content: center;
      font: map-get($roles-typo-font-weights, 'icon') 0.8em monospace;
      color: map-get($roles-col-texts, 'icon');
      cursor: pointer;
      background-color: map-get($roles-col-backgrounds, 'info');
      border: map-get($roles-borders-wrappers, 'negative');
      border-radius: rem(50%);
      box-shadow: rem(1px) rem(1px) rem(2px) map-get($swatch-colors-mono, 'alto');
      text-shadow: rem(1px) rem(1px) rem(1px) rgba(map-get($roles-col-texts, 'negative'), 0.8);
      transition: all map-get($roles-transitions, 'icons') ease-in-out;
    }
  }
}

// -------------------------| Print styles
@media print {
  .info {
    display: none;
  }
}
