// ===================================================|
// Molecules: ITEM

// -------------------------| Variables
$offset: rem(($roles-size-doc-icon * 1.8) + 5);

// -------------------------| Root
.root {
  &.document,
  &.nfo {
    .heading {
      padding-right: $offset;

      @include mq-device-holding-type('inpocket') {
        @include padding-h($offset);
      }
    }
  }

  &.document {
    .heading {
      @include mq-device-holding-type('inpocket') {
        @include padding-h($offset);
      }
    }
  }

  &.nfo {
    .heading {
      @include mq-device-holding-type('inpocket') {
        @include padding-h(0);
      }
    }
  }
}

// -------------------------| File
.file {
  position: absolute;
  right: 0;
  transform: translateY(rem(-2px));

  @media print {
    display: none;
  }
}

// -------------------------| Details
.details {
  margin-top: rem(6.5px);
  font-size: map-get($roles-typo-font-sizes, 'details');

  a {
    white-space: nowrap;
  }
}

// -------------------------| Relative box
.rel-box {
  position: relative;
  width: 100%;
  height: 0;
}

// -------------------------| Info
.info {
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: all map-get($roles-transitions, 'icons') ease-in-out;
  transform: translateY(-50%) scale(0);

  @include mq-device-holding-type('outpocket') {
    position: absolute;
    top: rem(-20px);
    right: rem(5px);
    bottom: 0;
    z-index: 1;
    display: block;
    width: 25px;

    :global(.v--modal-overlay) .root & {
      display: block;
      top: rem(2px);
      visibility: visible;
      opacity: 1;
      transform: translateY(0) scale(1);
    }

    @media (hover: hover) {
      &:global(.open),
      .root:hover & {
        top: rem(2px);
        visibility: visible;
        opacity: 1;
        transform: translateY(0) scale(1);
      }

      &:hover,
      &:global(.open) {
        span {
          transform: scale(1.2);
        }
      }
    }

    span {
      @include dimensions-square(rem(24px));

      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-top: rem(-2px);
      font-size: 1.2em;
      font-weight: map-get($roles-typo-font-weights, 'icon');
      color: map-get($roles-col-texts, 'icon');
      cursor: default;
      background: radial-gradient(ellipse at center, rgba(255,230,130,1) 25%,rgba(255,204,0,1) 100%,rgba(30,87,153,1) 100%);
      border: map-get($roles-borders-wrappers, 'negative');
      border-radius: rem(50%);
      text-shadow: 0 0 rem(10px) rgba(map-get($roles-col-texts, 'negative'), 0.8);
      transition: all map-get($roles-transitions, 'icons') ease-in-out;
    }
  }
}

// -------------------------| Print styles
@media print {
  .info {
    display: none;
  }
}
