// ===================================================|
// Atoms: PROGRESS BAR

// -------------------------| Variables
$min-height: 24px;

// -------------------------| Root
.root {
  position: relative;
  display: block;
  width: 100%;
  height: em(18px);
  padding-top: 1 / map-get($roles-ratios, 'progress-bar') * 100%;
  user-select: none;
  border: map-get($roles-borders-wrappers, 'progress-bar');
  border-radius: map-get($roles-borders-radiuses, 'progress');

  > * {
    $gap: 1px;

    position: absolute;
    top: $gap;
    right: $gap;
    bottom: $gap;
    left: $gap;
    height: calc(100% - #{$gap * 2});

    > span {
      @util truncate;

      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 em(8px);
      font-weight: map-get($roles-typo-font-weights, 'progress-bar');
      line-height: 0;
      color: map-get($roles-col-texts, 'base');
      text-align: left;
      text-transform: uppercase;
      letter-spacing: em(0.8px);
      background-color: dark(map-get($roles-col-backgrounds, 'progress'), 5%);
      border-radius: map-get($roles-borders-radiuses, 'progress');
      transition: all map-get($roles-transitions, 'link') ease-in-out;
    }

    &[href] {
      &:hover {
        > span {
          background-color: map-get($roles-col-links, 'hover');
          color: map-get($roles-col-texts, 'negative');
        }
      }

      &:active {
        > span {
          background-color: map-get($roles-col-links, 'active');
        }
      }
    }
  }
}
