// ===================================================|
// Molecules: TAG GROUP

// -------------------------| Root
.root {
  //
}

// -------------------------| Group
.group {
  $margin: 5.07px;

  margin-bottom: -#{rem($margin)};
  font-size: 0;

  > span {
    margin-bottom: rem($margin);
    font-size: map-get($roles-typo-font-sizes, 'body');

    &:not(:last-child) {
      margin-right: rem($margin);
    }
  }

  p {
    margin: 0;

    &:not(:last-child) {
      margin-bottom: rem(6.5px);
    }
  }

  @include mq-device-holding-type('inpocket') {
    > span {
      margin: 0 rem($margin / 2) rem($margin) !important;
    }
  }
}

// -------------------------| Print styles
@media print {
  .group {
    > span {
      font-size: 1.3rem;
    }
  }
}
