// ===================================================|
// Overlays: MODAL

// -------------------------| Global configuration
:global {
  @media print {
    .v--modal-overlay {
      display: none;
    }

    .v--modal-block-scroll {
      overflow: initial !important;
      width: inherit !important;
    }
  }

  @media screen {
    .v--modal-block-scroll {
      #__nuxt {
        filter: blur(5px);
      }
    }
  }

  .v--modal-background-click {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .v--modal-overlay,
  .v--modal-background-click {
    width: 100vw !important;
    height: 100vh !important;
  }

  .v--modal-top-right {
    display: none !important;
  }

  .v--modal-box {
    top: auto !important;
    left: auto !important;
    width: 100vw !important;
    height: 100vh !important;
    margin-bottom: 0 !important;
    background-color: transparent !important;
    border-radius: 0 !important;
    box-shadow: none !important;
  }
} // :global
