// ===================================================|
// Organisms: SEE ALL

// -------------------------| Variables
$offset: map-get($roles-spaces-min, 'app');
$curtain-offset: 13px;
$side-offset: $offset;

// -------------------------| Stage
.stage {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  padding: rem($offset);
}

// -------------------------| Root
.root {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: rem($roles-size-modal);
  max-height: 100%;
  padding: rem($offset);
  background-color: white;
  border-radius: rem(3px);
  box-shadow: 0 0 rem(40px) rem(-2px) rgba(27, 33, 58, 0.4);
}

// -------------------------| Section
.section {
  @include margin-h(-#{rem($side-offset)});

  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;

  > div:nth-child(1)::after,
  &::after {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: rem($curtain-offset * 1.5);
    content: '';
  }

  > div:nth-child(1)::after {
    top: 100%;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  }

  &::after {
    bottom: 0;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%,rgba(255,255,255,1) 100%);
  }

  h2 {
    @include margin-h(rem($side-offset));

    margin-bottom: 0;
  }

  > div:nth-child(1) {
    position: relative;
  }

  > div:nth-child(2) {
    @include padding-v(rem($curtain-offset));
    @include padding-h(rem($side-offset));

    overflow: auto;
  }
}

// -------------------------| X button
.x {
  $size: 24px;
  $offset: 2px;

  @include dimensions-square(rem($size));

  position: absolute;
  top: -#{rem($size / 2)};
  right: -#{rem($size / 2)};
  padding: rem($offset);
  border-radius: map-get($swatch-border-radiuses, 'circle') !important;
  background-color: transparent !important;
  box-shadow: none !important;

  &,
  svg {
    display: block;
  }

  svg {
    @include dimensions-square(rem($size - ($offset * 2)));
  }
}

// -------------------------| Close button
.button {
  z-index: 1;
  flex-shrink: 0;
}
